{
	"presets": [
      "flow",
	  "es2017",
	  [
		"env",
		{
		  "targets": {
			"node": "current"
		  }
		}
	  ]
	],
	"plugins": [
	  "transform-object-rest-spread",
	  "transform-class-properties"
	],
	"sourceMaps": true,
	"retainLines": true
}
