{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true
    },   
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended"
    ],    
    "rules": {
        "strict": 0
    }
}
